body {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif;
    background-color: #1e1e2e;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
}

button {
    display: flex;
    align-items:flex-end;
    justify-content: right;
    height: 40px;
    width: 56px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1e1e2e;
    color: #9399b2;
}


#aux-display {
    display: flex;
    margin-top: 50px;
    padding: 4px;
    height: 32px;
    width: 236px;
    font-family: 'DSEG7 Modern';
    /* font-family: 'DSEG14 Classic'; */
    /* font-family: 'Orbitron'; */
    /* font-size: 14px; */
    font-size: 12px;
    /* font-weight: 400; */
    align-items:flex-end;
    justify-content: right;
    background-color: #37384a;
    color: #cdd6f4;
    /* overflow: hidden; */
}

#main-display {
    display: flex;
    padding: 4px;
    height: 56px;
    width: 236px;
    font-family: 'DSEG7 Modern';
    /* font-family: 'DSEG14 Classic'; */
    /* font-family: 'Orbitron'; */
    font-size: 24px;
    /* font-weight: 800; */
    font-weight: bold;
    align-items:flex-end;
    justify-content: right;
    background-color: #7d8c73;
    color: #11111b;
    text-shadow: 3px 2px 0px rgba(0,0,0,.2);
    /* background-color: #313244; */
    /* overflow: hidden; */
    box-shadow:
        inset 1px 1px 7px 0px #050505,
        0px 0px 4px 2px #000,
        0px 0px 4px 2px #777;
}

#calculator {
    margin-bottom: 50px;
    padding: 4px;
    height: 224px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11111b;
    gap: 4px;
    flex-wrap: wrap-reverse;
}

.inner {
    display: flex;
    border: 1px solid blue;
    justify-content: right;
    /* align-items:flex-end; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}
